<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <web>
            <corsRequests>
                <origin_url>*</origin_url>
                <allow_credentials>0</allow_credentials>
                <enable_amp>0</enable_amp>
            </corsRequests>
        </web>
    </default>
</config>