<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="web">
            <resource>SplashLab_CorsRequests::config</resource>
            <group id="corsRequests" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1"
                   showInStore="1">
                <label>CORS Requests Configuration</label>
                <field id="origin_url" translate="label" type="text" sortOrder="40" showInDefault="1" showInWebsite="1"
                       showInStore="1">
                    <label>CORS Origin Url</label>
                    <comment>*, or fully qualified URLs without trailing '/' (slash) (e.g. http://example.com)
                    </comment>
                </field>
                <field id="allow_credentials" translate="label" type="text" sortOrder="40" showInDefault="1" showInWebsite="1"
                       showInStore="1">
                    <label>CORS Allow Credentials</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Enables Access-Control-Allow-Credentials response header to pass cookies</comment>
                </field>
                <field id="enable_amp" translate="label" type="text" sortOrder="40" showInDefault="1" showInWebsite="1"
                       showInStore="1">
                    <label>CORS Requests for AMP</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Enables AMP-Access-Control-Allow-Source-Origin response header for AMP CORS requests</comment>
                </field>
                <field id="max_age" translate="label" type="text" sortOrder="40" showInDefault="1" showInWebsite="1"
                       showInStore="1">
                    <label>CORS Request Max Age</label>
                    <comment>Enables Access-Control-Max-Age response header for CORS requests (max age in seconds)</comment>
                </field>
            </group>
        </section>
    </system>
</config>
